body{
font-family: 'Oswald', sans-serif;
 margin: 0;
}
#hand-out{
    width:1000px;
    margin-bottom: 100px;
    
}
#help-man{
   width: 500px;
   height: 300px;
    text-align: center;
    display: inline;
    color: white;
  
}
.image{
 height: 300px;
}
img{
   
   width: 100%;
   overflow: hidden;
}
h1{
    font-size: 40px;
    margin: auto;
    text-align: center;

}
p{
    width: 400px;
    margin: auto;
    margin-bottom: 40px;
    font-weight: 100;
}

.link-btn{
    text-decoration: none;
    background:linear-gradient(rgb(255, 114, 71),rgb(164, 66, 66));
    margin-top: 20px;
    padding: 10px 40px;
    border-radius: 2px;
    font-size: 20px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
  
}
.link-btn:hover{
    background:linear-gradient(rgb(23, 128, 0),rgb(128, 128, 0));
}
.helpless{
   margin-top: 200px;
   text-align: center;
   width:100%;

   
  
}
.grid-contanier{
    display: grid;
    height: 100px;
    grid-template-columns: auto auto auto auto auto;
    background-color: beige;
    padding: 10px 0;
    margin-bottom: 100px;

}
.doler-2{
    border: 2px solid red;
}
.doler-2:hover{
    border:2px solid blue;
}
.doler-1{
    border: none;
}
.doler-1:hover{
  border: 2px solid green;
}
.amount{
    color: grey;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}
