body{
font-family: 'Oswald', sans-serif;
 margin: 0;
}
#hand-out{
    width:1000px;
    margin-bottom: 100px;
    
}
.container{
   width: 500px;
   height: 300px;
    text-align: center;
    display: inline;
    color: white;
  
}
.image{
 height: 300px;
}
img{
   
   width: 100%;
   overflow: hidden;
}
h1{
    font-size: 40px;
    margin: auto;
    text-align: center;

}
p{
    width: 276px;
    text-align: center;
    display:flex;
    margin: auto;
    text-align: justify;
    margin-bottom: 20px;
}

.link-btn{
    text-decoration: none;
    background:linear-gradient(rgb(255, 114, 71),rgb(164, 66, 66));
    margin-top: 20px;
    padding: 10px 40px;
    border-radius: 2px;
    font-size: 20px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
  
}
.link-btn:hover{
    background:linear-gradient(rgb(23, 128, 0),rgb(128, 128, 0));
}
.helpless{
   margin-top: 200px;
   text-align: center;
   
  
  
}
.grid-contanier{
    display: flex;
    height: 100px;
    margin-left: 200px;
    margin-right: 200px;
    columns: auto auto auto auto auto;
    background-color: beige;
    padding: 10px 0;
    margin-bottom: 50px;

}
.doler-2{
    border: 2px solid red;
    padding: 40px;
    font-size: 18px;
}
.doler-2:hover{
    border:2px solid blue;
}
.doler-1{
    border: none;
    padding: 40px;
   font-size: 18px;
}
.doler-1:hover{
  border: 2px solid green;
}
.amount{
    color: grey;
    border-bottom: 1px solid gray;
    margin-bottom: 100px;
  
}
#help-susity{
  overflow: hidden;
  margin-bottom: 100px;
}
.templet{
    
    height: 20%;
    background: black;
    width: 250px;
    float: left;
    
  
    
      
}
.icon{
    width: 50px;
}
.temp1{
    float: left;
    background-color: beige;
    padding:20px 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 10px;
   
}
.temp2{
    float: left;
    background-color: gray;
    padding:20px 20px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 10px;
}
.temp3{
    float: left;
    background-color:green;
    padding:20px 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;

    
}


#sofiul{
   height: 200px;
   background-color: rgb(201, 45, 228);
 

}
.the-end{
    color: brown;
    border-bottom: 2px solid blue;
}
small{
    color: green;
}

